.overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: auto;
}

.close-modal{
  text-align: right;
}